@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    min-width: 100dvw;
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-blue-500;
  }

  p {
    @apply text-lg font-medium text-gray-900;
  }

  .page {
    @apply flex flex-col items-center justify-start;
    @apply bg-gray-50;
    @apply px-10;

    min-height: calc(100vh - 100px);
    max-width: min(600px, 100%);
    margin: auto;
  }

  .page > h1 {
    @apply font-display text-5xl text-center;
    @apply bg-gradient-to-br from-blue-600 to-blue-400;
    @apply bg-clip-text text-transparent;
  }
}
